/*/////////////////////////////////////*/
/* Global*/
/*////*/
*{
    background-color: white;
    font-family: "Lucida Console", "Courier New", monospace !important;
}

b, p.bold{
    font-weight: bold;
}

a:link{
    color: steelblue;
    background-color: transparent;
}

a:hover {
    color: lightsteelblue;
    background-color: transparent;

}

a:active {
    color: gray;
    background-color: transparent;
}

::selection {
    color: black;
    background: lightgray;
}

html, body{
    height: 100%;
}

canvas{
    border: black;
    border-style: solid;
    border-width: 1px;
    display: block;
}

/*/////////////////////////////////////*/
/* SQL table*/
/*////*/
span.content{
    position:relative;
}

table{
    border: 1px, 1px, 1px, 1px;
    border-style: solid;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.256);
}

th, td{
    padding: 12px 15px;
}

th{
    font-weight: bold;
}

/*/////////////////////////////////////*/
/* Left navigation*/
/*////*/
div.intro{
    padding: 25px;
    width: 250px;
    height: 100%;
    border-right: 3px solid;
    position: fixed;
    overflow:auto;
    box-sizing: border-box;
    display: block;
}

img.icon{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
}

nav.nav-left li.item:hover{
    background-color:lightgray;
    border-left: 5px gray;
    border-style: solid;
}

nav.nav-left li.item{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 15px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}

nav.nav-left li.item-buttom{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 15px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    
}

nav.nav-left li.item.selected{
    background-color:lightgray;
    border-left: 5px gray;
    border-style: solid;
}

div.wrapper{
    height: 100%;

}

/*/////////////////////////////////////*/
/* Content page*/
/*////*/
div.content{
    margin-left: 250px;
    height: 100%;
}

div main.main{
    padding: 25px 25px 75px 25px;
    position: relative;
}

/*/////////////////////////////////////*/
/* Footer*/
/*////*/
.content-footer{
    background-color: black;
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 250px;
    position: fixed;
    box-sizing: border-box;
    color:whitesmoke;
    font-size: 13px;
}